<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.finsecapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FINSEC"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".welcome_Page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainPage"
            android:label="FINSEC- Financial Secretary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mutualFundsFaq"
            android:label="@string/title_activity_mutual_funds_faq"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".FD_calculator" />
        <activity android:name=".account" />
        <activity android:name=".incomeExpenses" />
        <activity android:name=".BankRates" />
        <activity android:name=".rd_Calculator" />
        <activity android:name=".expenses" />
        <activity
            android:name=".income_tax_faq"
            android:label="@string/title_activity_income_tax_faq"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemListActivity"
            android:label="BANKS"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.user.finsecapp.ItemListActivity" />
        </activity>
        <activity
            android:name=".news1"
            android:label="@string/title_activity_news1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".news2"
            android:label="@string/title_activity_news2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".financialtrends"
            android:label="@string/title_activity_financialtrends"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>